*.swp
pc/.ts.history
pc/toystacky
pc/old/*
pc/old/toystacky.0.c
arduino-pico/ToyStacky/old/*
arduino-pico/ToyStacky/old/TS-core.h.1
arduino-pico/ToyStacky/old/TS-core.cpp.3.BAD
arduino-pico/ToyStacky/old/TS-core.cpp.2
arduino-pico/ToyStacky/mathtest/mathtest.c.0
arduino-pico/ToyStacky/mathtest/mt
arduino-pico/ToyStacky/old/ToyStacky.ino.1
arduino-pico/ToyStacky/old/TS-core-math.h.0
arduino-pico/ToyStacky/old/TS-core-showStack.h.0
docs/keypad.pdf
docs/keypad.docx
*.history
arduino-pico/ToyStacky/mathtest/bt
arduino-pico/ToyStacky/mathtest/extgcd.0.py
arduino-pico/ToyStacky/mathtest/old/bigint.0.c
arduino-pico/ToyStacky/mathtest/old/bigtest.0.c
arduino-pico/ToyStacky/mathtest/old/mathtest.0.c
pc/test/ext
pc/test/extract_vector.0.c
pc/test/tok
pc/test/tokenize.0.c
pc/test/tokenize.1.c
pc/test/tokenize.2.c
arduino-pico/ToyStacky/bak-7-jan-2024/ToyStacky.ino
arduino-pico/ToyStacky/bak-7-jan-2024/TS-core-fn1Param.h
arduino-pico/ToyStacky/bak-7-jan-2024/TS-core-fnOrOp2Param.h
arduino-pico/ToyStacky/bak-7-jan-2024/TS-core-fnOrOpVec1Param.h
arduino-pico/ToyStacky/bak-7-jan-2024/TS-core-fnOrOpVec2Param.h
arduino-pico/ToyStacky/bak-7-jan-2024/TS-core-ledger.h
arduino-pico/ToyStacky/bak-7-jan-2024/TS-core-math.h
arduino-pico/ToyStacky/bak-7-jan-2024/TS-core-numString.h
arduino-pico/ToyStacky/bak-7-jan-2024/TS-core-process.h
arduino-pico/ToyStacky/bak-7-jan-2024/TS-core-processDefaultPush.h
arduino-pico/ToyStacky/bak-7-jan-2024/TS-core-processPop.h
arduino-pico/ToyStacky/bak-7-jan-2024/TS-core-showStack.h
arduino-pico/ToyStacky/bak-7-jan-2024/TS-core-stack.h
arduino-pico/ToyStacky/bak-7-jan-2024/TS-core-tokenize.h
arduino-pico/ToyStacky/bak-7-jan-2024/TS-core.cpp
arduino-pico/ToyStacky/bak-7-jan-2024/TS-core.h
arduino-pico/ToyStacky/bak-7-jan-2024/bigint.c
arduino-pico/ToyStacky/bak-7-jan-2024/bigint.h
arduino-pico/ToyStacky/bak-7-jan-2024/rtc.c
arduino-pico/ToyStacky/bak-7-jan-2024/ToyStacky-alt-mode-keyhandler.h
arduino-pico/ToyStacky/bak-7-jan-2024/ToyStacky-normal-mode-keyhandler.h
arduino-pico/ToyStacky/bak-7-jan-2024/ToyStacky-page-1-alt-mode-keyhandler.h
arduino-pico/ToyStacky/bak-7-jan-2024/ToyStacky-page-1-normal-mode-keyhandler.h
pc/unused/toystacky-fn1Param.h
pc/unused/toystacky-fnOrOp2Param.h
pc/unused/toystacky-fnOrOpVec1Param.h
pc/unused/toystacky-fnOrOpVec2Param.h
pc/unused/*
