*.swp
pc/.ts.history
pc/toystacky
pc/old/*
pc/old/toystacky.0.c
arduino-pico/ToyStacky/old/*
arduino-pico/ToyStacky/old/TS-core.h.1
arduino-pico/ToyStacky/old/TS-core.cpp.3.BAD
arduino-pico/ToyStacky/old/TS-core.cpp.2
arduino-pico/ToyStacky/mathtest/mathtest.c.0
arduino-pico/ToyStacky/mathtest/mt
arduino-pico/ToyStacky/old/ToyStacky.ino.1
arduino-pico/ToyStacky/old/TS-core-math.h.0
arduino-pico/ToyStacky/old/TS-core-showStack.h.0
docs/keypad.pdf
docs/keypad.docx
*.history
